.card-container {
  display: flex;
  flex-direction: row;
  padding: 9px 18px;
}
.img-container {
  margin-right: 20px;
}
.img-avatar {
  width: 1.5rem;
  border-radius: 100%;
}
.icon-container {
  margin-right: 5px;
}
