.select{
    background: black !important;
    color: yellow !important;
    border: solid 1px yellow !important;
    font-size: 1rem !important;
    text-align: center;
    padding: 0.5rem 1rem !important;
    border-radius: 0.25rem !important;
    font-weight: 700 !important;
    cursor: pointer;
}